@model List<ProyectoFabric.Models.Plano>

<div class="site-blocks-cover overlay inner-page" style="background-image: url(/Assets/images/hero_bg_1.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-10">
                <span class="sub-text">My Awesome</span>
                <h1>BluePrints</h1>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row">
            @foreach (Plano plano in Model)
            {

            <div class="site-section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 mb-5 mb-lg-0">
                            <div class="img-border">
                                <img src="https://media.istockphoto.com/vectors/architectural-plan-of-a-house-layout-of-the-apartment-with-the-in-vector-id692744578" alt="Image" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-lg-5 ml-auto">
                            <span class="sub-title">Blueprint</span>
                            <h2 class="font-weight-bold text-black mb-5">@plano.Nombre</h2>
                            <a asp-controller="Planos" asp-action="MyBlueprint_Insights" asp-route-id="@plano.Id"><h4 class="font-weight-bold text-black-opacity-5 mb-5">Edit</h4></a> 
                            <div class="accordion" id="accordionExample">

                                <h2 class="mb-0 border rounded mb-2">
                                    <button class="btn " type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Room name:@plano.Recinto.Nombre
                                    </button>
                                </h2>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>Height: <a href="#"> @plano.Recinto.Alto</a>
                                        <p>Width: <a href="#"> @plano.Recinto.Ancho</a>
                                    </div>
                                </div>

                                <h2 class="mb-0 border rounded mb-2">
                                    <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                      Windows: @plano.Recinto.Ventanas.Count()
                                    </button>
                                </h2>

                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                    <div class="card-body">
                                        @foreach (Ventana item in plano.Recinto.Ventanas)
                                        {

                                        <p>Name<a href="#"> @item.Nombre</a>Distance:@item.Distance || Wall Side: @item.WallSide || Width: @item.Width </p>
                                        }
                                    </div>
                                </div>

                                <h2 class="mb-0 border rounded mb-2">
                                    <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                       Doors: @plano.Recinto.Puertas.Count()
                                    </button>
                                </h2>

                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                    <div class="card-body">
                                        @foreach (Puerta item in plano.Recinto.Puertas)
                                        {
                                            <p>Name<a href="#"> @item.Nombre</a>Distance:@item.Distance Wall Side: @item.WallSide Width: @item.Width </p>
                                            if (@item.DoorOpening == true)
                                            {

                                                <p>Door opening: Outside</p>
                                            }
                                            else
                                            {
                                                <p>Door opening: Inside</p>
                                            }
                                            if (item.DoorAxis == true)
                                            {
                                                <p>Door axis: Right</p>
                                            }
                                            else
                                            {
                                                <p>Door axis: Left</p>
                                            }
                                        }
                                    </div>
                                </div>



                            </div>

                        </div>
                    </div>
                </div>
            </div>
            }
          
        </div>
    </div>
</div>





