@model ProyectoFabric.Models.Plano



<div class="site-blocks-cover overlay inner-page" style="background-image: url(/Assets/images/hero_bg_1.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-10">
                <span class="sub-text">Re-Design</span>
                <h1>@Model.Nombre</h1>
            </div>
        </div>
    </div>
</div>

<input id="appUserId" type="hidden" name="name" value="@Model.appUserId" />
<input id="recinto_nombre" type="hidden" name="RoomName" value="@Model.Recinto.Nombre" />
<input id="recinto_ancho" type="hidden" name="RoomWidth" value="@Model.Recinto.Ancho" />
<input id="recinto_alto" type="hidden" name="RoomHeight" value="@Model.Recinto.Alto" />
@foreach (Ventana item in Model.Recinto.Ventanas)
{
    <input class="ventanas_nombres" type="hidden" name="name" value="@item.Nombre" />
    <input class="ventanas_distance" type="hidden" name="name" value="@item.Distance" />
    <input class="ventanas_wallside" type="hidden" name="name" value="@item.WallSide" />
    <input class="ventanas_width" type="hidden" name="name" value="@item.Width" />
}
@foreach (Puerta item in Model.Recinto.Puertas)
{
    <input class="puertas_nombres" type="hidden" name="name" value="@item.Nombre" />
    <input class="puertas_distance" type="hidden" name="name" value="@item.Distance" />
    <input class="puertas_wallside" type="hidden" name="name" value="@item.WallSide" />
    <input class="puertas_width" type="hidden" name="name" value="@item.Width" />
    <input class="puertas_dooraxis" type="hidden" name="name" value="@item.DoorAxis" />
    <input class="puertas_dooropening" type="hidden" name="name" value="@item.DoorOpening" />
}
<br />
<div class="site-section holamundo">

    <div class="container">
        <div class="row">
            <div class="mr-2">
                <select class="form-control bg-primary" id="sel1">
                    <option value="0">Select your object</option>
                </select>
            </div>
            <div class="col-lg-2">
                <a id="GuardarPlano" class="site-block-feature d-flex p-4 rounded mb-1">
                    <div class="mr-3">
                        <span class="icon icon-save2 font-weight-bolder h5 bg-success"></span>
                    </div>
                    <div class="text">
                        <h3>Save Design</h3>

                    </div>
                </a>
            </div>

            <div class="col-lg-2">
                <a id="botonDeleteAll" class="site-block-feature d-flex p-4 rounded mb-1">
                    <div class="mr-3">
                        <span class="icon icon-delete_forever font-weight-light h5 bg-danger"></span>
                    </div>
                    <div class="text">
                        <h3>Delete All</h3>

                    </div>
                </a>
            </div>
            <div class="col-lg-2">
                <a id="room" class="site-block-feature d-flex p-4 rounded mb-1">
                    <div class="mr-3">
                        <span class="icon flaticon-interior-design font-weight-light h5"></span>
                    </div>
                    <div class="text">
                        <h3>Create Room</h3>

                    </div>
                </a>
            </div>
            <div class="col-lg-2">
                <a id="door" class="site-block-feature d-flex p-4 rounded mb-1">
                    <div class="mr-3">
                        <span class="icon flaticon-measuring font-weight-light h5"></span>
                    </div>
                    <div class="text">
                        <h3>Door</h3>

                    </div>
                </a>
            </div>
            <div class="col-lg-2">
                <a id="window" class="site-block-feature d-flex p-4 rounded mb-1">
                    <div class="mr-3">
                        <span class="icon flaticon-window font-weight-light h5"></span>
                    </div>
                    <div class="text">
                        <h3>Window</h3>

                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 cajaCanvas offset-1" style="margin:0%">
            <div class="row">
                <div class="col-3 offset-3">
                    <label style="font:bold" class="text-danger">
                        Blueprint Name:
                        <input class="form-control" id="nombreplano" type="text" />
                    </label>
                </div>
                <div class="avatar avatar-md mr-3 mb-2 mt-1 col-2">
                    <a><img src="~/images/compass.png" alt="compass" /></a>
                    <h4 style="font:bold" class="text-danger">  10:1 m</h4>
                </div>
            </div>
            <div class="offset-2">

                <canvas style="margin:0%" width="500" height="500" id="canvas"></canvas>
            </div>

        </div>

        <div class="col-5 workPlace">

        </div>
    </div>
</div>


@section scripts {

    <script src="~/js/MyBlueprint_Insights.js"></script>

}

@*@section scripts {

        <script src="~/ts/fabric-TypeScript.js" defer></script>

    }*@