@using Microsoft.AspNetCore.Identity;
@inject SignInManager<AppUser> _signInManager
@inject UserManager<AppUser> _userManager


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProyectoFabric</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/sweetalert.css" />
    <script src="~/js/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900">
    <link rel="stylesheet" href="~/Assets/fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/Assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Assets/css/jquery-ui.css" />
    <link rel="stylesheet" href="~/Assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/Assets/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="~/Assets/css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="~/Assets/fonts/flaticon/font/flaticon.css" />
    <link rel="stylesheet" href="~/Assets/css/aos.css" />
    <link rel="stylesheet" href="~/css/sweetalert.css" />
    <link rel="stylesheet" href="~/Assets/css/style.css" />
    <script src="~/js/Fabric.js"></script>
    <script src="~/js/sweetalert.min.js"></script>
</head>
<body>
    <div class="site-wrap">

        <div class="site-mobile-menu">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div> <!-- .site-mobile-menu -->
        <div class="site-navbar-wrap">
            <div class="site-navbar-top">
                <div class="container py-3">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <partial name="_LoginPartial" />

                        </div>
                        @if (_signInManager.IsSignedIn(User))
                        {

                            <div class="col-6">
                                <div class="d-flex ml-auto">
                                    <a href="#" class="d-flex align-items-md-baseline">
                                        <span class="icon-envelope mr-2"></span>
                                        <span class="d-none d-md-inline-block">raullopezhernando@gmail.com</span>
                                    </a>
                                    <a href="#" class="d-flex align-items-center ml-auto mr-4">
                                        <span class="icon-envelope mr-2"></span>
                                        <span class="d-none d-md-inline-block">leinadovlac@gmail.com</span>

                                    </a>
                                    <a href="#" class="d-flex align-items-center">
                                        <span class="icon-envelope mr-2"></span>
                                        <span class="d-none d-md-inline-block">mauricio1acp@gmail.com</span>
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="site-navbar">
                <div class="container py-1">
                    <div class="row align-items-center">
                        <div class="col-2">
                            <h1 class="mb-0 site-logo"><a href="index.html">E.C.DESIGNS</a></h1>
                        </div>
                        <div class="col-10">
                            <nav class="site-navigation text-right" role="navigation">
                                <div class="container">
                                    <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

                                    <ul class="site-menu js-clone-nav d-none d-lg-block">
                                        <li class="has-children active">

                                            <a href="index.html">Home</a>
                                            <ul class="dropdown arrow-top">

                                                <li><a href="#">Rooms</a></li>
                                                <li><a href="#">Doors</a></li>
                                                <li><a href="#">Windows</a></li>
                                                <li class="has-children">
                                                    <a href="#">Blueprint</a>
                                                    <ul class="dropdown">
                                                        <li><a href="#">Room</a></li>
                                                        <li><a href="#">Doors</a></li>
                                                        <li><a href="#">Windows</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="about.html">About Us</a></li>
                                        <li class="has-children">

                                            @if (_signInManager.IsSignedIn(User))
                                            {
                                                AppUser user = await _userManager.GetUserAsync(User);
                                                <a href="projects.html">My Section</a>
                                                <ul class="dropdown arrow-top">
                                                    <li><a href="/Identity/Account/Manage">Profile</a></li>

                                                    @if (await _userManager.IsInRoleAsync(user, "Creator"))
                                                    {

                                                        @*<li><a asp-controller="Planos" asp-action="MyBlueprints" asp-route="@user.Id">My Blueprints</a></li>*@
                                                        <li><a asp-controller="Planos" asp-action="MyBlueprints" asp-route-id="@user.Id">Manage Blueprints</a></li>
                                                    }
                                                </ul>
                                            }
                                        </li>
                                        <li>
                                        <a asp-controller="Home" asp-action="Index">About E.C Designs</a></li>
                                        
                                        @if (_signInManager.IsSignedIn(User))
                                        {
                                          AppUser user = await _userManager.GetUserAsync(User);
                                            <li><a asp-controller="Home" asp-action="Creator" asp-route-id="@user.Id">Create Canvas</a></li>
                                        }
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
                @RenderBody()
        </div>
       <footer class="site-footer border-top">
            <div class="footer-copyright text-center py-3">© 201O Copyright: EASY CANVAS DESIGN (BBK BOOTCAMP PROJECTS) </div>

        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/Assets/js/jquery-3.3.1.min.js"></script>
    <script src="~/Assets/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/Assets/js/jquery-ui.js"></script>
    <script src="~/Assets/js/popper.min.js"></script>
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <script src="~/Assets/js/owl.carousel.min.js"></script>
    <script src="~/Assets/js/jquery.stellar.min.js"></script>
    <script src="~/Assets/js/jquery.countdown.min.js"></script>
    <script src="~/Assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Assets/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Assets/js/aos.js"></script>
    <script src="~/Assets/js/main.js"></script>
    <script src="~/js/Fabric.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
